{% extends "baseWithSearchbar.html" %}

{% block title %}Graphs library{% endblock %}

{% block head %}
{{ parent() }}

<meta charset="UTF-8"/>
{% endblock %}

{% block pageTitle %}Graphs{% endblock%}

{% block pageSubTitle %}search for any graph{% endblock%}

{% block content %}

    <div style="margin-left: 100px; display: flex; flex-direction: row; flex-wrap: wrap;">
        {% for graph in dataView.graphs %}
            {% if Search is not defined or graph.name == Search %}
                <form method="post">
                    <input type="hidden" name="action" value="deleteGraph">
                    <input type="hidden" name="idGraph" value="{{graph.id}}">

                    <div style=" margin: 20px; width:auto; padding-left: 30px; padding-right: 30px; padding-bottom: 5px; border: 2px solid black; border-radius: 10px;">
                        <p>{{graph.name}}</p>
                        <p>Id : {{graph.id}}</p>
                        {% for user in dataView.userInfo %}
                        {% if user.id == graph.creator %}
                        <p>Creator : {{user.pseudo}}</p>
                        {% endif %}
                        {% endfor %}
                        <p>// image preview //</p>

                        <div>
                            <button type="submit" class="btn btn-lg btn-danger p-1">DELETE</button>
                        </div>
                    </div>
                </form>
            {% endif %}
            <br/><br/>
        {% endfor %}
    </div>

{% endblock %}