html,
body {
  margin: 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

#playPage {
  height: 100%;
  width: 100%;
}

#playingZone {
  width: 66%;
  left: 16.5%;
  top: 15%;
  height: 70%;
  position: absolute;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

#playerNames {
  margin: 20px;
}

#playButton {
  position:absolute;
  top: 3%;
  left: 43%;
}
