a {
    text-decoration: none;
    color: white;
    font-family: Arial;
}

.bouton {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    text-align: center; /* Aligne le texte au centre */
    border: 1px solid black;
    background-color: gray;
    height: 70px;
    width: 200px;
    border-radius: 25px;
    margin: 20px;
}
